.usgs-toggle {
    top: 0;
    left: 34ch;
}

#usgs-plot-title {
    position: relative;
    z-index: 1;

    height: 1em;
    line-height: 1em;

    display: inline-flex;
    flex-direction: row;

    width: 100%;

    justify-content: center;

    gap: 1ch;
}