.icon-group {
    position: absolute;
    z-index: 9999;
    display: flex;
    gap: 1ch;

    padding: 1ch;
}

.icon-group-item {
    background: #fff;
    padding: 0.5ch;
    outline: 2px solid transparent;
    transition: outline-color 0.15s ease, background-color 0.15s ease, box-shadow 0.15s ease;

    height: 35px;
    cursor: pointer;

    box-shadow:
            0 1px 3px 0 rgba(60, 64, 67, 0.3),
            0 4px 8px 3px rgba(60, 64, 67, 0.15);
}

.icon-group-item:hover {
    background: #f5f5f5;
}

.icon-group-item input[type="checkbox"] {
    display: none;
}

.icon-group img {
    height: 35px;
    aspect-ratio: 1;
}

.icon-group-item:has(input[type="checkbox"]:checked) {
    outline-color: var(--light-blue);
    background: #e8f1ff;
    box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.2);
}

.color-control {
    top: 0;
    right: 0;
}

.popup-control {
    top: 0;
    left: 45px;
}