.icon-group {
    position: absolute;
    z-index: 9999;
    display: flex;
    gap: 1ch;

    padding: 1ch;
}

.icon-group-item {
    background: #fff;
    padding: 0.5ch;
    border-radius: 4px;

    height: 35px;
}

.icon-group-item input[type="checkbox"] {
    display: none;
}

.icon-group img {
    height: 35px;
    aspect-ratio: 1;
}

.icon-group-item input[type="checkbox"]:checked + img {
    border-color: #007AFF;
    background: #e6f0ff;

    outline: 1px solid red;
}

.color-control {
    top: 0;
    right: 0;
}

.popup-control {
    top: 0;
    left: 0;
}