.icon-group {
    position: absolute;
    z-index: 9999;
    background: white;
    display: flex;
}

.icon-group-item {
    cursor: pointer;
}

.icon-group-item input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.icon-group img {
    width: 35px;
    height: 35px;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 1ch;
}

.icon-group-item input[type="checkbox"]:checked + img {
    border-color: #007AFF;
    background: #e6f0ff;
}

.color-control {
    top: 0;
    right: 0;
}

.popup-control {
    top: 0;
    left: 0;
}