#renderObservatoryContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9999;

    background: white;

    display: flex;
    flex-direction: column;
    padding: 0.5em;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);

    width: fit-content;
    height: fit-content;

    outline: 1px solid var(--border-color);
}

.observatory-row-container {
    display: flex;
}

.observatory-row-container > .observatory-label {
    font-size: 0.85em;
    width: fit-content;
    min-width: 14ch;
    opacity: 0.7;
    text-indent: 1.5ch;
}

.observatory-row-container > .observatory-value {
    max-width: fit-content;
    min-width: 20ch;
}

.observatory-row-container > button {
    margin: 0.25em;
}