@import './css/auth.css';
@import './css/sidebar.css';
@import './css/search.css';
@import './css/marker.css';
@import './css/color-by.css';
@import './css/colorbar.css';
@import './css/renderObservatory.css';
@import './css/viewTickets.css';
@import './css/plot.css';
@import './css/panorama.css';
@import './css/draggableContainer.css';
@import "./css/modal.css";

:root {
    --black: #000;
    --light-blue: rgb(13, 110, 253);
    --light-gray: #ccc;
    --dark-gray: #dddddd4a;
    --red: #dc3545;
    --line-height: 1.6rem;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: var(--line-height);
}

#main-view {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

#app-body {
    flex: 1;
    display: flex;
    min-height: 0;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    position: relative;
}

.hidden {
    display: none !important;
}

.pop-up-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);

    width: 500px;
    height: fit-content;
    background: white;

    padding: 0.5em;
}

button {
    width: 100%;
    border: none;
    border-radius: 4px;
    line-height: var(--line-height);
    cursor: pointer;

    margin-top: 0.5em;
}

.primary {
    background: var(--light-blue);
    outline: none;
    color: white;
}

.secondary {
    background: white;
    outline: 1px solid var(--light-blue);
    color: var(--light-blue);
}

button:disabled {
    opacity: 0.4;
    cursor: default;
}

.close-button {
    position: absolute;
    top: 0;
    right: 1em;

    cursor: pointer;
    user-select: none;
    z-index: 50;
}